# Logs
/logs
*.log

# Coverage directory used by tools like istanbul
/coverage

# Dependency directories
/node_modules

# Compiled code
/lib

# IntelliJ
.idea/
*.iml

# yalc
.yalc
yalc.lock

.parcel-cache